.game-footer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 20px 25px;
}

.game-best {
	font-size: 1.2em;
	font-weight: bold;
	color: var(--word-color)
}

.attempt-box-label {
	margin-bottom: 5px;
	color: #222;
	margin-left: 25px;
}
